@import "variables";

.entity-list {
    .can-list-item {
        &-type {
            font-size: @list-item-title-font-size;
            line-height: @list-item-title-font-size;
            margin-top: @list-item-title-margin-top;
        }
        &-location {
            font-size: @list-item-details-font-size;
        }

        &:hover {
            background-color: @existing-light;
        }
    }
}

.detail-panel {
    .detail-panel-can {
        &-icon {
            height: 60px;
            margin-top: 0;
            width: 60px;
        }
    }
}
