@import "fonts";
@import "variables";

.list-body {
    h2 {
        background: @blue-light;
        color: white;
        font-family: @semibold-font-family;
        font-size: 16px;
        margin: 0;
        padding: 2px 25px;
        text-transform: uppercase;
    }

    .entity-list {
        list-style: none;
        padding: 0;

        &-item {
            cursor: pointer;
            padding-bottom: 7px;
            padding-top: 7px;

            .row {
                margin-left: 0;
                margin-right: 0;
            }

            &-icon {
                height: 40px;
                margin-top: 10px;
                width: 40px;
            }
        }
    }
}

.list-overlay {
    background: fadeout(@blue, 40%);
    position: absolute;
    height: ~"calc(100% - @{header-height})";
    top: @header-height;
    width: 100%;
    z-index: 10000;

    &-body {
        background: white;
        color: @blue;
        margin: 50px @panel-padding;
        padding: @panel-padding;

        &-header {
            font-size: 30px;
            text-transform: uppercase;
        }

        .btn {
            font-size: 20px;
            margin-bottom: 20px;
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: left;

            &-add {
                padding-top: 10px;
            }
        }
    }

    &-btn-text {
        display: inline-block;
        margin-top: 8px;
        max-width: ~"calc(100% - 40px)";
    }

    &-icon {
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        float: right;
        height: 40px;
        width: 40px;
    }

    &-add-icon {
        background-image: data-uri("/images/add.png");
    }

    &-list-icon {
        background-image: data-uri("/images/list.png");
    }

    &-desktop {
        font-size: 14px;

        &-body {
            font-family: @book-font-family;
        }
    }
}

.list-filters {
    padding-top: @header-height;

    .col-xs-4 {
        padding: 0;
        text-align: center;
    }

    &-body {
        font-size: 25px;
        padding-left: 25px;
        padding-right: 25px;
    }

    &-date-separator {
        color: @blue-light;
    }

    &-button {
        color: @blue;
        float: left;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 60px;
        margin-left: 25px;
        text-transform: uppercase;

        &-reset {
            color: @blue-light;
            float: right;
            margin-right: 25px;
        }
    }

    select {
        background: @blue-light-light data-uri("/images/select-arrows.png");
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 8px;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        color: @blue;
        font-weight: normal;
        margin-bottom: 25px;
        padding: 5px 10px;
        width: 100%;
        -moz-appearance: none;
        -webkit-appearance: none;

        &.list-filters-community-input {
            background: @green-transparent data-uri("/images/select-arrows-green.png");
            background-position: right 10px center;
            background-repeat: no-repeat;
            background-size: 8px;
            color: @green;
        }

        &:focus {
            outline: none;
        }
    }
}

.list-add-button {
    background: @blue;
    border-radius: 50%;
    bottom: 15px;
    display: block;
    height: 50px;
    position: fixed;
    right: 15px;
    width: 50px;

    img {
        display: block;
        margin: 0 auto;
        margin-top: 9px;
        width: 25px;
    }
}
