@import "add";
@import "bootstrap";
@import "can";
@import "fonts";
@import "list";
@import "nav";
@import "panel";
@import "report";
@import "request";
@import "variables";

html,
body,
#app {
    color: @blue;
    font-family: @semibold-font-family;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

header {
    background: @blue;
    color: white;
    height: 50px;
    padding: 15px 25px;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10000;

    h1 {
        float: left;
        font-size: 20px;
        margin: 0;
    }

    .cancel {
        color: white;
        float: right;
    }
}
