@import "bootstrap";
@import "can";
@import "fonts";
@import "list";
@import "nav";
@import "report";
@import "request";
@import "variables";

html,
body,
#app {
    color: @blue;
    font-family: @semibold-font-family;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    width: 100%;
}

header {
    background: @blue;
    color: white;
    height: 50px;
    padding: 15px 25px;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10000;

    h1 {
        float: left;
        font-size: 20px;
        margin: 0;
    }

    .cancel {
        color: white;
        float: right;
    }
}

button {
    height: 60px;

    &[type=submit] {
        margin-top: 25px;
    }
}

.add-request {
    padding-top: 50px;
}

.add-request-form {
    padding: 25px;

    .alert {
        margin-top: 25px;
    }
}

.image-input {
    &-thumbnail {
        .make-xs-column(3, 0);
        background: @blue-light-light;
        height: 75px;
        width: 75px;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    &-field {
        .make-xs-column(9);
        display: inline-block;

        input {
            max-width: 100%;
        }
    }

    &-message {
        margin-top: 15px;
    }

    &-status {
        .make-xs-column(6);
        color: gray;
        display: inline-block;
    }

    &-actions {
        .make-xs-column(6);
        display: inline-block;
        padding-right: 0;
        text-align: right;

        a {
            color: red;
        }
    }
}

.bin-type-radio {
    input {
        display: none;
    }

    .bin-type-input {
        .radio();
        float: left;
    }

    &-label {
        float: left;
        line-height: 35px;
        margin-left: 15px;
    }
}

.mailing-list-opt-in-radio {
    input {
        display: none;
    }

    .mailing-list-opt-in-input {
        .radio();
        float: left;
    }

    label {
        float: left;
        line-height: 35px;
        margin-left: 15px;
    }
}

.comment {
    margin-left: 10%;
    width: 90%;
}

.location-input {
    text-align: center;
    margin: 20px auto;
    width: 100%;

    &-message {
        font-weight: bold;
        margin: 10px auto;
        width: 80%;
    }

    button {
        width: 100%;
    }

    .btn-share {
        width: 80%;
    }

    .use-found-location {
        .column-no {
            padding-right: 0;
        }
        .column-yes {
            padding-left: 0;
        }
    }
}

.success {
    background: white;
    height: 100%;
    padding: 35px;
    padding-top: 150px;
    text-align: center;
    width: 100%;

    .thanks {
        font-size: 48px;
    }

    p {
        margin-bottom: 25px;
        margin-top: 25px;
    }
}
