@import "variables";

.nav-header {
    background: white;
    color: black;
    height: inherit;
    padding: 15px;
}

a.navbar-brand {
    background-image: data-uri('/images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    left: 25px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 3px;
    width: 191px;
    z-index: 5000;
}

.navbar {
    background: white;
    border-width: 0;
    font-size: 18px;
    font-weight: normal;
    height: @header-height;
    letter-spacing: 1px;
    text-transform: uppercase;

    &-header {
        height: @header-height;
    }

    .navbar-nav {
        background: white;
        margin: 0;
        padding-bottom: 48px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 1px;

        & > li > a {
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 24px;
        }

        & > li.navbar-map-link > a {
            background: @blue;
            border-radius: 15px;
            color: white;
            display: inline-block;
            margin-top: 15px;
            padding: 1px 15px;
        }
    }

    .navbar-collapse {
        border: 0;
        padding: 0;
    }

    .navbar-toggle {
        height: 49px;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 5px;
        padding-top: 10px;

        &, &:focus, &:hover {
            background: none;
            border: none;
        }

        .icon-bar {
            background-color: @blue;
            margin-top: 4px;
            width: 22px;
        }
    }
}
