@import "variables";

.entity-list {
    .request-list-item {
        &-can-type {
            font-size: @list-item-title-font-size;
            line-height: @list-item-title-font-size;
            margin-top: @list-item-title-margin-top;
        }
        &-date {
            font-size: @list-item-details-font-size;
        }

        &:hover {
            background-color: @green-transparent;
        }
    }
}

.detail-panel {
    .detail-panel-request {
        &-icon,
        &-icon-litter-sighting {
            margin-top: 0;
        }
    }
}
