.entity-list .report-list-item-complaint {
  font-size: 18px;
}
.entity-list .report-list-item-address {
  font-size: 14px;
}
.detail-panel .detail-panel-report-icon-dirty-conditions,
.detail-panel .detail-panel-report-overflowing-litter-baskets,
.detail-panel .detail-panel-report-sanitation-condition {
  margin-top: 0;
  width: 60px;
}
